<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Album Page')">
        <meta charset="UTF-8" />
        <title>Album page</title>
    </head>
    <body>
        <header th:replace="fragments/layout :: header">
            <p>menu</p>
        </header>
        <main>
            <h3 style="text-align: center; text-decoration: underline" th:text="@{'Album of ' + ${user.profileName}}">Album text</h3>
            <div th:if="${userHasPhotos}">
                <div class="d-flex justify-content-center">
                    <div th:if="${isPreviousVisible}" class="form-group">
                        <form method="GET" th:action="@{/albumpage/previous/{username}/getPhoto/{photoIndex}(username=${user.username}, photoIndex=${photoIndex})}">
                            <button style="margin-right: 0.4em" type="submit" class="btn btn-info">Previous</button>
                        </form>
                    </div>
                    <div class="form-group" th:if="${isNextVisible}">
                        <form method="GET" th:action="@{/albumpage/next/{username}/getPhoto/{photoIndex}(username=${user.username}, photoIndex=${photoIndex})}">
                            <button type="submit" class="btn btn-info">Next</button>
                        </form>
                    </div>
                </div> 
                <div>
                    <div class="row">
                        <div class="col-md-7">
                            <img style="margin-bottom: 0.5em" id="pic" th:src="*{'data:image/jpg;base64,'+ pictureString}" alt="#" width="400" height="500"/>
                            <div th:if="${isOwnerPage}">
                                <div class="d-flex justify-content-center">
                                    <form  method="POST" th:action="@{/changeprofilephoto/{username}/{photoIndex}/{photoId}(username=${user.username}, photoIndex=${photoIndex},photoId=${photo.id})}">
                                        <button style="margin-right: 0.3em" type="submit" class="btn btn-info btn-sm">Change to profile photo</button>
                                    </form>
                                    <form method="POST" th:action="@{/deletephoto/{username}/{photoIndex}(username=${user.username}, photoIndex=${photoIndex})}">
                                        <button type="submit" class="btn btn-danger btn-sm">Delete photo</button>
                                    </form>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-3">
                            <h5 style="text-decoration: underline">Photo description:</h5>
                            <h4 th:text="${photo.description}"></h4>
                            <small th:if="${photo.description == ''}">No description.</small>
                            <div class="d-flex justify-content-center">
                                <p style="margin-right: 0.4em" th:text="'Likes: ' + ${photo.likes}">amount of likes</p>
                                <form method="POST" th:action="@{/likephoto/{photoId}/{username}/{photoIndex}(photoId=${photo.id}, username=${user.username}, photoIndex=${photoIndex})}">
                                    <button type="submit" class="btn btn-info btn-sm">Like photo</button>
                                </form>
                            </div>
                            <div th:each="comment : ${albumComments}" class="row">
                                <div class="col-sm-12" >
                                    <div style="background-color: #79a3b1; margin-bottom: 0.5em">
                                        <small th:text="${comment.date}"></small>
                                        <h6 th:text="${comment.commentor} + ' commented:'"></h6>
                                        <p style="margin-top: -0.6em;" th:text="${comment.text}">Comment</p> 
                                    </div>
                                </div>
                            </div>
                            <h5>Comment the photo</h5>
                            <form role="form" method="POST" th:action="@{/addAlbumComment/{photoId}/{username}/{photoIndex}(photoId=${photo.id}, username=${user.username}, photoIndex=${photoIndex})}">
                                <div class="form-group">
                                    <textarea style="margin-bottom: 0.4em" class="form-control" name="comment" maxlength="35" rows="2" placeholder="Limited for 35 characters." required></textarea>
                                    <button style="margin-bottom: 2em" type="submit" class="btn btn-outline-info">Add comment</button>
                                </div>
                            </form>                            
                        </div>
                    </div>
                </div>
            </div>
            <h5 th:if="${!userHasPhotos}">No photos to show.</h5>
        </main>
        <footer th:replace="fragments/layout :: footer">
            <p>footer</p>
        </footer>
    </body>
</html>