<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Error Page')">
        <meta charset="UTF-8" />
        <title>Error page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    </head>
    <body style="background-image: url('https://miro.medium.com/max/500/1*kDdY6LStfWm_97bjx9W0bQ.jpeg'); background-repeat: no-repeat; background-size: cover;">
        <header th:replace="fragments/layout :: header">
            <p>menu</p>
        </header>
        <h3 style="margin-top: 5em; color: white">Might be incorrect URL, server error who knows.<br></br>Anyway, don't do it again.</h3>
        <h1 style="margin-top: 3em; color: white">Press anywhere to continue.</h1>
        <footer th:replace="fragments/layout :: footer">
            <p>footer</p>
        </footer>
    </body>
</html>
