<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Error Page')">
        <meta charset="UTF-8" />
        <title>Error page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    </head>
    <body style="background-image: url('https://i.ibb.co/Hq3cTJD/lightcatto.jpg'); background-repeat: no-repeat; background-size: cover;">
        <header th:replace="fragments/layout :: header">
            <p>menu</p>
        </header>
        <h1 style="margin-top: 2em; color: white">ERROOOORRR</h1>
        <h3 style="margin-top: 4em; color: white">Might be incorrect URL, too large file, server error who knows.</h3>
        <h1 style="margin-top: 1em; color: white">Press anywhere to continue.</h1>
        <button id="thebutton" class="btn btn-info" onclick="changeButtonText()">anywhere</button>
        <footer th:replace="fragments/layout :: footer">
            <p>footer</p>
        </footer>
        <script th:src="@{/javascript/code.js}" defer></script>
    </body>
</html>
