<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Home')">
        <meta charset="UTF-8" />
        <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
     
    </head>
    <body style="background-image: url('https://cutewallpaper.org/21/nyan-cat-desktop-wallpaper/Nyan-Cat-iPhone-Wallpaper-64-images-.jpg'); background-size: cover;">
        <header th:replace="fragments/layout :: header">
            <p>menu</p>
        </header>
        <div style="margin-top: 8em; color: white">
            <h1>Welcome to <b style="color: white; text-decoration: bold;">Cate</b><b style="color: #79a3b1;">book.</b></h1>
            <h5 th:text="'Cates globally: '+ ${accounts}"></h5>
            <h5 th:text="'Comments on platform: '+ ${comments}"></h5>
            <h5 th:text="'Likes on platform: '+ ${likes}"></h5>
            <h6>and much more!</h6>
        </div>
        <footer th:replace="fragments/layout :: footer">
            <p>footer</p>
        </footer>
    </body>
</html>