<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Home')">
        <meta charset="UTF-8" />
        <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <style>
            section {
                text-align: center;
            }
        </style>
    </head>
  <body>
        <div>
            <header th:replace="fragments/layout :: header">
                <p>menu</p>
            </header>
        </div>
      <section>
            <h1>Welcome to Casebook</h1>
                <h5 th:text="'Users globally: '+ ${accounts}"></h5>
                <h5 th:text="'Comments on platform: '+ ${comments}"></h5>
                <h5 th:text="'Likes on platform: '+ ${likes}"></h5>
                <h5 th:text="'Photos published: '+ ${photos}"></h5>
        </section>
        <footer th:replace="fragments/layout :: footer">
            <p>footer</p>
        </footer>
  </body>
</html>