<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Search profiles')">
        <meta charset="UTF-8" />
        <title>Search profiles</title>
    </head>
    <body>
        <header th:replace="fragments/layout :: header">
            <p>menu</p>
        </header>
        <main>
            <section class="container">
                <h3 style="text-decoration: underline; text-align: left;">Search profiles</h3>
                <section class="container">
                    <div class="row">
                        <form  th:action="@{/lookup}" <form class="form-inline" role="form" method="POST">
                            <input type="text" class="form-control" name="name" placeholder="Search with username..">
                            <button type="submit" class="btn btn-info">Go!</button>
                        </form> 
                    </div>
                    <ul>
                    <h3>Results:</h3>
                    <div th:each="account : ${accounts}">
                        <div th:if="${account.username != currentlyLogged}">
                            <p th:text="'Username: ' + ${account.username} + ', Full name: ' + ${account.fullName}">Esimerkkihenkilö</p>
                            <form th:action="@{/lookup/addFriend/{id}(id=${account.id})}" method="POST" >
                                <button type="submit" class="btn btn-info">Send friend request</button>
                                <button type="button" class="btn btn-info"><a style="text-decoration: none; color: white;" th:href="@{/profilepage/{user}(user=${account.username})}">Show profile</a></button>
                            </form>
                        </div>

                    </div>
                    </ul>
                </section>
            </section>
        </main>
        <footer th:replace="fragments/layout :: footer">
            <p>footer</p>
        </footer>
    </body>
</html>