<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Search profiles')">
        <meta charset="UTF-8" />
        <title>Search profiles</title>
    </head>
    <body>
        <header th:replace="fragments/layout :: header">
            <p>menu</p>
        </header>
        <main>
            <div>
                <h3>Search profiles</h3>
                <section class="container">
                    <form th:action="@{/lookup}" class="form-inline" method="POST">
                        <input type="text" class="form-control mb-2 mr-sm-2" name="name" placeholder="Search with username..">
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    </form>    
                </section>
            </div>
            
            <ul>
                <li th:each="account : ${accounts}">
                    <p th:text="'Username: ' + ${account.username} + ', Full name: ' + ${account.fullName}">Esimerkkihenkilö</p>
                    <button type="button" class="btn btn-info">Add to friend</button>
                    <button type="button" class="btn btn-info">Show profile</button>
                </li>
            </ul>
        </main>
        
        
        <footer th:replace="fragments/layout :: footer">
            <p>footer</p>
        </footer>
    </body>
</html>