<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Profile page')">
        <meta charset="UTF-8" />
        <title>Profile page</title>
        
        
    </head>
    <body>
        <header th:replace="fragments/layout :: header">
            <p>menu</p>
        </header>
        <div class="container text-center">
            <div class="row">
                
                <div class="col-sm-4 well text-left">
                  <div class="well">
                    <h4 th:text="${user}"></h4>
                    <img src="https://i.kym-cdn.com/entries/icons/original/000/013/564/doge.jpg" class="img-circle" height="200" width="200" alt="profilePhoto">
                  </div>
                  <div class="well">
                    <button type="button" class="btn btn-info">Change profile photo</button>
                  </div>
                </div>
   
                <div class="col-sm-4 text-center"> 
                <h2 style="text-decoration: underline;">Wall</h2>
                <div th:each="comment : ${wallComments}" class="row">
                    <div class="col-sm-2 text-center">                      
                        <img src="https://i.kym-cdn.com/entries/icons/original/000/013/564/doge.jpg" class="img-circle" height="40" width="40" alt="profilePhoto">
                    </div>
                    <div class="col-sm-8">
                        <h5 th:text="${comment.commentor} + ', '"></h5>
                        <small th:text="${comment.date}"></small>
                        <p th:text="${comment.text}">Comment</p>   
                        <div class="row">
                            <p th:text="'Likes: ' + ${comment.likes}">Comment</p>    
                            <form th:action="@{/profilepage/{id}(id=${comment.id})}" method="POST">
                                <button type="submit" class="btn btn-info">Like</button>
                            </form>
                        </div>
                      </div>
                    </div>

                <br><br>
                <h5>Post on the Wall</h5>
                <form role="form" method="POST" th:action="@{/profilepage}">
                  <div class="form-group">
                        <textarea class="form-control" name="comment" rows="3" required></textarea>
                        <button type="submit" class="btn btn-outline-info">Add comment</button>
                  </div>
                </form>
                <br><br>

              </div>
              <div class="col-sm-4 text-center">
                <div class="well">
                    <h3 th:text="'Photo albums of ' + ${username}"></h3>
                    <button type="button" class="btn btn-info">Albums</button>
                </div>
                <div class="well">
                    <h3 th:text="'Friends of ' + ${username}"></h3>
                    <button type="button" class="btn btn-info">See friends</button>
                </div>
              </div>
            </div>
        </div>
        
        <footer th:replace="fragments/layout :: footer">
            <p>footer</p>
        </footer>
    </body>
</html>
