<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Profile page')">
        <meta charset="UTF-8" />
        <title>Profile page</title>
    </head>
    <body>
        <header th:replace="fragments/layout :: header">
            <p>menu</p>
        </header>
        <div class="container text-center">
            <div class="row">
                
                <div class="col-sm-4 well text-left">
                  <div class="well">
                    <h4 th:text="${user.fullName}"></h4>
                    <img src="https://dogeseed.com/doge.2214a63a.svg" class="img-circle" height="200" width="200" alt="profilePhoto">
                  </div>
                  <div th:if="${user.username == currentlyLogged}" class="well">
                    <form method="POST" th:action="@{/addPhoto}" enctype="multipart/form-data">
                        <input type="file" name="file" id="file" required/>
                        <small>(Supports only jpg files. Not too big ones.)</small>
                        <button type="submit" class="btn btn-info">Add photo to your album!</button>
                    </form>     
                          
                  </div>
                </div>
   
                <div class="col-sm-4 text-center"> 
                <h2 style="text-decoration: underline;">Wall</h2>
                <div th:each="comment : ${wallComments}" class="row">
                    <div class="col-sm-2 text-center">                      
                        <img src="https://dogeseed.com/doge.2214a63a.svg" class="img-circle" height="40" width="40" alt="profilePhoto">
                    </div>
                    <div class="col-sm-8">
                        <h5 th:text="${comment.commentor} + ', '"></h5>
                        <small th:text="${comment.date}"></small>
                        <p th:text="${comment.text}">Comment</p>   
                        <div class="d-flex justify-content-center">
                            <p th:text="'Likes: ' + ${comment.likes}">Comment</p>    
                            <form th:action="@{/profilepage/like/{id}/user/{username}(id=${comment.id}, username = ${user.username})}" method="POST">
                                <button type="submit" class="btn btn-info">Like</button>
                            </form>
                        </div>
                      </div>
                    </div>

                <br><br>
                <h5>Post on the Wall</h5>
                <form role="form" method="POST" th:action="@{/profilepage/{id}(id=${user.id})}">
                  <div class="form-group">
                        <textarea class="form-control" name="comment" rows="3" required></textarea>
                        <button type="submit" class="btn btn-outline-info">Add comment</button>
                  </div>
                </form>
                <br><br>

              </div>
              <div class="col-sm-4 text-center">
                <div class="well">
                    <h4 th:text="'Photo album of ' + ${user.username}"></h4>
                    <form th:action="@{/albumpage/{username}(username=${user.username})}" method="GET">
                        <button type="submit" class="btn btn-info">Album</button>
                    </form>
                </div>
                <div class="well">
                    <h4 th:text="'Friends of ' + ${user.username}"></h4>
                    <form th:action="@{/friendpage/{userId}(userId=${user.id})}" method="GET" >
                        <button type="submit" class="btn btn-info">See friends</button>
                    </form>
                </div>
              </div>
            </div>
        </div>
        
        <footer th:replace="fragments/layout :: footer">
            <p>footer</p>
        </footer>
    </body>
</html>
