<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Profile page')">
        <meta charset="UTF-8" />
        <title>Profile page</title>
    </head>
    <body style="background-image: url('https://i.ibb.co/gdP2rRB/vibincatto-Convert-Image-removebg-preview.png'); background-repeat: no-repeat; background-position: right 0% bottom 0%; background-size: 30% 30%;">
        <header th:replace="fragments/layout :: header">
            <p>menu</p>
        </header>
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-4 well text-left">
                    <div class="well">
                        <h4 th:if="${isOwnerPage}" th:text="'Hi ' + ${user.profileName} + ','"></h4>
                        <h4 th:if="${!isOwnerPage}" th:text="'Profile page of ' + ${user.profileName} + ','"></h4>
                        <img th:if="${profilePhotoHasBeenSet}" th:src="*{'data:image/jpg;base64,'+ pictureString}" height="200" width="200" alt="profilePhoto">
                        <img th:if="${!profilePhotoHasBeenSet}" src="https://i.pinimg.com/originals/eb/0e/6a/eb0e6a06620425c90ea36b3f0336ffe6.jpg" class="img-circle" height="200" width="200" alt="profilePhoto">
                    </div>
                    <div style="margin-bottom: 6em;" th:if="${isOwnerPage}" class="custom-file">
                        <form method="POST" th:action="@{/addPhoto}" enctype="multipart/form-data">
                            <input style="margin-top: 0.3em" type="file" name="file" required/>
                            <small>(Supports jpg, png and jpeg. Not too big ones.)</small>
                            <input style="margin-bottom: 0.4em;" type="text" id="form1" class="form-control" name="photoComment" placeholder="Describe the photo">
                            <button type="submit" class="btn btn-info">Add photo to your album!</button>
                        </form>     
                    </div>
                </div>
                <div class="col-sm-4 text-center"> 
                    <h2 style="text-decoration: underline;">Wall</h2>
                    <div th:each="comment : ${wallComments}" class="row">
                        <div class="col-sm-11">
                            <div style="background-color: #79a3b1; margin-bottom: 0.5em; margin-left: 1em;">
                                <small th:text="${comment.date}"></small>
                                <h6 th:text="${comment.commentor} + ' commented:'"></h6>
                                <p style="margin-top: -0.5em" th:text="${comment.text}">Comment</p> 
                                    <div class="d-flex justify-content-center">
                                        <p style="margin-right: 0.5em" th:text="'Likes: ' + ${comment.likes}">Comment</p>    
                                        <form th:action="@{/profilepage/like/{id}/user/{username}(id=${comment.id}, username = ${user.username})}" method="POST">
                                            <button type="submit" class="btn btn-info btn-sm">Like</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <h5>Leave a post on the Wall</h5>
                    <form role="form" method="POST" th:action="@{/profilepage/comment/{username}(username=${user.username})}">
                        <div class="form-group">
                            <textarea style="margin-bottom: 0.4em" class="form-control" name="comment" maxlength="35" rows="2" placeholder="Limited for 35 characters." required></textarea>
                            <button type="submit" class="btn btn-outline-info">Add comment</button>
                        </div>
                    </form>
                <br><br>
            </div>
            <div class="col-sm-4 text-center">
                <div class="well">
                    <h4 th:text="'Photo album of ' + ${user.profileName}"></h4>
                    <a th:href="@{/albumpage/{username}(username=${user.username})}" class="btn btn-info">Album</a>
                </div>
                <div class="well">
                    <h4 th:text="'Friends of ' + ${user.profileName}"></h4>
                    <a style="margin-bottom: 4em" th:href="@{/friendpage/{username}(username=${user.username})}" class="btn btn-info">See friends</a>
                </div>
            </div>
            </div>
        </div>
        <footer th:replace="fragments/layout :: footer">
            <p>footer</p>
        </footer>
    </body>
</html>
