<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Search profiles')">
        <meta charset="UTF-8" />
        <title>Search profiles</title>
    </head>
    <body style=" background-image: url('https://i.ibb.co/LYq8ysW/binocat-removebg-preview.png');">
        <header th:replace="fragments/layout :: header">
            <p>menu</p>
        </header>
        <main>
            <section class="container">
                <h3 style="text-decoration: underline; text-align: left;">Search profiles</h3>
                <section class="container">
                    <div class="row">
                        <form  th:action="@{/search}" <form class="form-inline" role="form" method="POST">
                            <input style="margin-right: 0.3em" type="text" class="form-control" name="name" placeholder="Search with catename..">
                            <button type="submit" class="btn btn-info">Go!</button>
                        </form> 
                    </div>
                    <h3 th:if="${!searchAccounts.empty}" style="text-decoration: underline; font-weight: bold;">Results:</h3>
                    <div th:each="account : ${searchAccounts}">
                        <div th:if="${account.username != currentlyLoggedAccount.username}">
                            <h3 style="color: white; font-weight: bold; font-family: New Kansas" th:text="${account.profileName}">Example person</h3>
                            <form th:action="@{/search/sendRequest/{id}(id=${account.id})}" method="POST" >
                                <div th:switch="true">
                                    <a th:case="${#lists.contains(account.friendRequests, currentlyLoggedAccount)}" style="background-color: #16697a; color: white" class="btn">Pending friend request.</a>
                                    <a th:case="${#lists.contains(currentlyLoggedAccount.friendRequests, account)}" th:href="@{/friendpage/{username}(username=${currentlyLoggedAccount.username})}" style="background-color: #16697a; color: white;" class="btn">Accept/Decline requests</a>
                                    <a th:case="${#lists.contains(friendList, account.username)}" style="background-color: #c6ebc9" class="btn">You are friends.</a>
                                    <button th:case="*" type="text" class="btn btn-info">Send friend request</button>
                                    <a style="text-decoration: none; color: white;" th:href="@{/profilepage/{user}(user=${account.username})}" class="btn btn-info">Show profile</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br><br><br>
                </section>
            </section>
        </main>
        <footer th:replace="fragments/layout :: footer">
            <p>footer</p>
        </footer>
    </body>
</html>